// Navigation Styles here

    nav {
        border-bottom: 1px dashed black;
        padding: 3%;
        display: flex;
        justify-content: space-evenly;

    h1 {
        justify-content: space-between;
    }

    a {
        text-decoration: none;
        font-size: 1.2rem;
        padding: 2.5%;
        color: black;
    }
}